.main-colors-to-use {
  color: #ffc321 #2d7dd2 #97cc04 #f45d01 #474647;
}
.home-main-section {
  display: flex;
  flex-wrap: wrap;
}
.home-main-section-item {
  width: 100%;
  /* margin: 0.5% 0.5% 0 0; */
}

.millennium-cafe-section1 {
  width: 100%;
  margin-top: 1%;
}
.home-arrow-down {
  width: 100%;
  align-items: center;
  text-align: center;
  color: white;
}
.home-section-two {
  display: flex;
  box-shadow: 1px 1px 10px 0px rgb(0, 0, 0);
  justify-content: space-around;
  background-color: #86b405;
  border-radius: 0 20px;
  margin: 1%;
}
.opening-hours {
  position: relative;
  background-color: #ffc321;
  width: 40%;
  margin:1%;
  padding: 1%;
  border-radius: 0 20px;
  box-shadow: 1px 1px 10px 0px rgb(0, 0, 0);
}
.google-maps {
  position: relative;
  width: 40%;
  margin:1%;
  height: 350px !important;
  box-shadow: 1px 1px 10px 0px rgb(0, 0, 0);
  border-radius: 0 20px;
}
.about-page-section-one{
/* height: 300px; */
}
.about-page-section-two{

}
@media screen and (max-width: 1000px) {
  .home-main-section-item {
    width: 98%;
    margin: 1% 1% 0% 1%;
  }
  .opening-hours {
    position: block;
    width: 96%;
    margin: 2%;
  }
  .home-section-two {
    display: block;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0);
    background-color: #85b40500;
    margin: 0 1%;
  }
  .google-maps {
    position: block;
    width: 100%;
    margin: 0%;
    height: 350px !important;
    padding: 2%;
    border-radius: 0;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0);
  }
}
