.home-main-section {
  display: flex;
  flex-wrap: wrap;
}
.home-main-section-item {
  width: 100%;
  /* margin: 0.5% 0.5% 0 0; */
}
.home-hr {
  width: 80%;
  height: 4px;
  background: linear-gradient(to right, #7000cc 0, #ff009d 48%, #ee822a 100%);
}

.millennium-cafe-section1{
  width: 100%;
  margin-top: 1%;
}
.home-arrow-down{
  width: 100%;
  align-items: center;
  text-align: center;
  color:white;
}
@media screen and (max-width: 1000px) {
  .home-main-section-item {
    width: 98%;
    margin: 1% 1% 0% 1%;
  }
}
