.millennium-cafe-s1-image {
  width: 100%;
}
.millennium-cafe-s1-text {
  position: absolute;
  width: 100%;
}
.millennium-cafe-s1-text-h1 {
  background-color: rgb(16, 30, 90);
  color: #fff;
  font-size: 55px;
  width: 60%;
  padding: 0.5% 2% 0.5% 0;
  text-align: end;
  margin-top: 5%;
  font-weight: bold;
}
.millennium-cafe-s1-text-p {
  background-color: #fff;
  width: 45%;
  font-size: 25px;
  padding: 0 1%;
  margin: 0 0 0 15%;
}
.what-we-do {
  width: 100%;
}
.what-we-do-h1 {
  width: 40%;
  text-align: center;
  background-color: rgb(16, 30, 90);
  color: aliceblue;
  margin: 0.5% 30%;
}
.what-we-do-p {
  margin: 0.5% 20%;
  text-align: center;
}
.what-we-do-services {
  display: flex;
  flex-wrap: wrap;
  margin: 0 10%;
}
.what-we-do-services-item {
  background-color: rgb(51, 51, 75);
  margin: 1%;
  width: 30%;
  text-align: center;
  padding: 3%;
  color: #fff;
  border-radius: 25%;
}
.what-we-do-services-image {
  width: 40%;
  margin: 2%;
}
.menu-tables {
  padding: 5%;
  width: 50%;
}
.menu-tables-h1 {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  background-color: rgb(16, 30, 90);
  margin: 1% 1%;
  width: 100%;
  color: aliceblue;
  border-radius: 10px;
}
.menu-table {
  margin: 1% 1%;
  border-radius: 10px !important;
}
.menu-th {
  width: 33%;
  color: black;
  border: 2px solid rgb(87, 99, 86) !important;
}
.menu-td {
  font-weight: bold;
  border: 2px solid rgb(87, 99, 86) !important;
}
@media screen and (max-width: 1000px) {
  .millennium-cafe-s1-text-h1 {
    width: 100%;
    font-size: 30px;
    padding: 1%;
    margin-top: 5%;
    text-align: center;
  }
  .millennium-cafe-s1-text-p {
    width: 100%;
    font-size: 18px;
    margin: 0;
    text-align: start;
    padding: 1%;
  }
  .millennium-cafe-s1-image {
    height: 200px;
  }
  .what-we-do-h1 {
    width: 100%;
    font-size: 30px;
    margin: 0.5%;
  }
  .what-we-do-p {
    margin: 0.5%;
  }
  .what-we-do-services-item {
    width: 100%;
  }
  .menu-tables {
    padding: 1%;
    width: 98%;
  }
}
