.slideshow-image-box {
  display: block;
  height: 500px;
  width: 100%;
}
.slideshow-image-image {
  display: block;
  width: 100%;
}
.slideshow-image {
  margin-bottom: 3%;
}
.slideshow-image-text1 {
  position: absolute;
  color: rgb(255, 255, 255);
  padding:10px;
  width: 700px;
}
.home-main-text-p{
  word-break: break-all !important;
}
.slideshow-image-text:hover {
  color: #0099ff;
  background-color: #2bff00;
  border: 2px solid #0099ff;
  border-radius: 4%;
}
.slick-dots,
.slick-next,
.slick-prev {
  position: static !important;
}
.energy-efficient-design {
  padding: 0 10%;
  width: 80%;
}
.millennium-Centre-exterior-view-image {
  width: 100%;
  border: 2px solid #2bff00;
  border-radius: 10px;
  margin-bottom: 2%
}
.home-main-text{
  padding-left: 1.5rem;
}
@media screen and (max-width: 1000px) {
  .slideshow-image-image {
    margin: 0;
  }
  .home-main-text{
    padding: 1rem;
  }
  .energy-efficient-design {
    padding: 0 1rem;
    width: 100%;
  }
}
