.home-main-text-container {
  height: 500px;
  position: relative;
}
.energy-efficient-design {
  display: flex;
  flex-wrap: wrap;
  /* margin: 0 5%; */
  width: 100%;

}
.millennium-Centre-exterior-view-image {
  width: 100%;
  border: 2px solid #2bff00;
  border-radius: 10px;
  margin-bottom: 2%;
}
.home-main-text {
  display: flex;
  flex-wrap: wrap;
  margin: 6% 5%;
  color: rgb(255, 255, 255);
  width: 90%;
}
.welcome {
  background-color: rgba(255, 255, 255, 0.883);
  text-align: center;
  width: 60%;
  margin: 0 20%;
  border-radius: 5px;
}
.home-main-text-p {
  border-radius: 10px;
  width: 30%;
  margin: 1%;
  padding: 1%;
  background-color: #0a0a0a6e;
  word-break: break-word !important;
  background-attachment: fixed;
  text-shadow: 1px 1px 10px black, 0 0 25px rgb(0, 0, 0), 0 0 10px rgb(0, 0, 0);
  font-weight: 300;
}
@media screen and (max-width: 1000px) {
  .slideshow-image-image {
    margin: 0;
  }
  .home-main-text {
    padding: 1%;
    margin: 0;
    width: 100%;
  }
  .energy-efficient-design {
    padding: 0 1rem;
    width: 100%;
  }
  .welcome {
    font-size: 24px;
    width: 98%;
    margin: 0 1%;
  }
}
