html {
  position: relative;
  min-height: 100%;
  scroll-behavior: smooth;
}
.main-colors-to-use{
  color:#FFC321
        #2D7DD2
        #97CC04
        #F45D01
        #474647
}
body {
  background: linear-gradient(to left, rgba(151, 204, 4, 0.801) 0, rgba(45, 125, 210, 0.801) 100%);
  font-family: "Roboto", sans-serif !important;
  margin-bottom: 0px;
  font-size: 16px;
  min-height: 100%;
}
.main {
  position: relative;
  margin-bottom: 100px;
}

.btn-outline-success {
  color:#474647 !important;
  border: 1px solid !important;
}
.btn-outline-success:hover {
  color: rgb(255, 255, 255) !important;
  border: 20px !important;
}
.to-right {
  margin: 0.25rem;
}

@media screen and (max-width: 1000px) {
  .to-right {
    width: 100%;
    float: right;
  }
}
